@model RegisterViewModel

@{ }

<div class="container" style="margin-top: 10%;">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign Up</h3>
            </div>
            <div class="card-body" style="margin-top:-15%;">
                <form class="sign-in-form" asp-controller="Auth" asp-action="Register" method="post">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input asp-for="Email" type="text" class="form-control" placeholder="Email">
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input asp-for="Password" type="password" class="form-control" placeholder="password">
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Confirm Password">
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Sign Up" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>